@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.incorrectItem {
  padding: 32px;
  border: 1px solid #f1f1f1;
  font-family: $font;
  width: 50vw;
  border-radius: 8px;
  &__result {
    width: 100%;
    justify-content: space-between;
    &__index {
      font-size: 18px;
      font-weight: 800;
      color: #383838;
    }
    &__init--true {
      font-weight: 600;
      color: #01c17b;
    }
    &__init {
      font-weight: 600;
      color: #007047;
    }
    &__answer {
      font-weight: 600;
      color: #a90300;
    }
    &__answer--false {
      font-weight: 600;
      color: #ff7875;
      text-decoration: line-through;
    }
  }
  &__def {
    justify-content: flex-start;
    align-items: flex-start;
    &--flashcard {
      font-weight: 800;
      color: #383838;
      text-decoration: none !important;
    }

    &--false {
      text-decoration: line-through #ff7875 0.5px;
    }
  }
}
.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.rotate-90-ccw {
	-webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}