@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.wordLists {
  // width: 100%;
  margin: 32px 0px;
  &__card {
    width: 420px;
    z-index: 14;
    background-color: #ffffff;
    color: #212529;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    text-align: left;
    margin-right: -20px;
    border-radius: 16px;
    &--btn {
      float: right;
      margin: 64px 0px 16px 16px;
      color: #fff;
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 28px;
      background-color: #ef6c00;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none !important;

      &:hover {
        background: #f37b0a;
        color: #fff !important;
        border: none !important;
      }
    }
    &--title {
      width: max-content;
      color: #0e336b;
      font-family: $font;
      font-size: 28px;
      font-weight: 700;
      line-height: 33.6px;
      text-align: left;
      padding-right: 128px;
    }
    &--intro {
      color: #6c757d;
      font-family: "Inter", Helvetica, sans-serif;
      line-height: 24px;
      text-align: left;
      font-size: 16px;
    }
  }
  &__categories {
    padding: 128px 128px 128px 32px;
    width: inherit;
    text-align: center;
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
    &-icon {
      justify-content: center;
      align-items: center;
      width: 135px;
      border: 2px dashed #aaa;
      height: 135px;
      border-radius: 16px;
      font-size: 48px;
      color: #ccc;
    }
    &-caption {
      border: 2px dashed #aaa;
      padding: 4px;
      border-radius: 4px;
      color: #aeaeae;
    }
    /* CSS cho thanh cuộn */
    &::-webkit-scrollbar {
      // width: 80px;
      height: 8px;
      /* Độ rộng của thanh cuộn */
    }

    /* Track (phần nền của thanh cuộn) */
    &::-webkit-scrollbar-track {
      background: #fff !important;

      /* Màu nền của thanh cuộn */
    }

    /* Thumb (thanh cuộn chính) */
    &::-webkit-scrollbar-thumb {
      background: #eee;
      border-radius: 100px;
      /* Màu của thanh cuộn */
    }

    /* Thumb khi hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #ccc;
      /* Màu của thanh cuộn khi hover */
    }
  }
}
.borderCard {
  &--orange {
    border-color: #ef6c00;
  }
  &--blue {
    border-color: #00599c;
  }
}
.btn-blue {
  background-color: #00599c;
}
