@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.contentdic {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 128px;
  background-color: #ffffff;
  flex-direction: column;
  padding-bottom: 128px;
}
