@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.contentdic {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 128px;
  background-color: #ffffff;
  flex-direction: column;
  padding-bottom: 128px;
}
.fontmain {
  font-family: $font !important;
  font-weight: 600;
  font-size: 24px;
}
.search {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 64px;
  &__box {
    width: 600px;
    font-size: 20px;
    line-height: 28px;
    border: 4px solid #6248b1;
    border-radius: 16px;
    box-shadow: rgb(209, 202, 232) 0px 1px 4px,
      rgb(209, 202, 232) 0px 0px 4px 3px;
    line-height: 24px;
    padding: 16px;
    align-items: center;

    &:hover {
      background-color: transparent;
      border: 4px solid #6248b1 !important;
      box-shadow: rgb(209, 202, 232) 0px 1px 4px,
        rgb(209, 202, 232) 0px 0px 0px 3px;
    }
    &:focus {
      background-color: transparent;
      box-shadow: rgb(209, 202, 232) 0px 1px 4px,
        rgb(209, 202, 232) 0px 0px 0px 3px;
    }
  }
}
.language {
  position: absolute;
  top: 20px;
  right: 32px;
  z-index: 99;
}
.notfound {
  font-family: $font;
  font-size: 24px;
  color: $text-secondary-color;
  font-weight: 500;
}
