@import "../../assets/scss/font.scss";
$font: "Quicksand", sans-serif;
$font-manager: 'Rubik', sans-serif;
$text-primary-color: #0d47a1;
$text-secondary-color: #07285a;
$text-third-color: #0b043d;
$text-sub-color: #6248b1;
$background-primary-color: #ffffff;
