@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.examples {
  background-color: #f3f4f6;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  &__body {
    padding-left: 16px;
    font-family: $font;
    font-size: 16px;
  }
  &__content {
    font-family: $font;
    float: left;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
}
.title {
  color: #6b7280;
  font-size: 18.4px;
  line-height: 27.6px;
  padding: 16px;
}
