.examples {
  height: 50%;
  background-color: #f3f4f6;
  width: 100%;
  border-radius: 16px;
  // justify-content: flex-start;
  align-items: flex-start;
}
.title {
  color: #6b7280;
  font-size: 18.4px;
  line-height: 27.6px;
  padding: 16px;
}
