@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.meaning {
  &__content {
    width: 100% !important;
    font-family: $font;
    font-size: 20px;
    line-height: 28px;
    color: #6b7280;
    font-weight: 500;
    &--num {
      font-weight: 600;
    }
  }
}
.choice {
  cursor: pointer;

  margin-top: 32px;
  &__item {
    border: 3px solid #ddd;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    padding: 10px;
    border-radius: 200px;
    position: relative;
  }
  &__icon {
    font-size: 20px;
    &--sub {
      font-size: 16px;
      position: absolute;
      padding: 5% !important ;
      top: -4px;
      right: -4px;
      color: #aaa;
    }
  }
}
.icon--active {
  border: 3px solid #ff86868f;
  color: #ff5555 !important;

  & > .choice__icon--sub {
    color: #ff5555 !important;
  }
}
.group-meaning {
  width: 100%;
  border-top: 1px solid #ccc;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0px;
}

.wrap-meaning {
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  font-family: $font;
}
.synonyms {
  margin-top: 16px;
  padding: 16px;
  font-family: $font;
  font-size: 20px;
  line-height: 28px;
  color: #6b7280;
  font-weight: 500;
  overflow-wrap: inherit;
  display: flex;
  flex-wrap: wrap;
  &__word {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    text-align: center;
    color: $text-primary-color;
    margin-right: 8px;
    border-bottom: 2px dashed;
    // text-decoration: underline dashed;
  }
}
.item__category {
  font-family: $font;
  cursor: pointer;
  border-top: 1px solid #eeeeeeaf;
  width: 100%;
  padding: 16px 0px;
  margin-left: 8px;
  font-weight: 500;
  justify-content: space-between;
  &:hover {
    color: #6248b1 !important;
    background-color: #f9f7f7;
    border-radius: 16px;
  }
}
.collapse__item {
  font-family: $font;
}
.popconfirm-text {
  font-family: $font;
  font-weight: 500;
}
.AddNewWL_btn {
  border: 1px dashed #ccc;
  width: 100%;
  border-radius: 16px;
  font-family: $font;
  &__icon {
    font-size: 16px;
    margin-left: 16px;
    font-weight: 500;
  }
  &__content {
    padding: 16px 0px;
    font-weight: 500;
  }
  &:hover &__icon {
    color: #6248b1 !important;
    animation: spin backwards 1s;
    cursor: pointer;
  }
  &:hover &__content {
    cursor: pointer;
    color: #6248b1 !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.form-add {
  width: 300px;
  padding: 16px;
}
.form-wrap {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.form-label {
  color: $text-primary-color;
  font-weight: 500;
}
.form-btn--submit {
  background-color: $text-primary-color;
}

.collapse__item {
  max-height: 332px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 8px !important;
  }

  /* Track (phần nền của thanh cuộn) */
  &::-webkit-scrollbar-track {
    background: #fff !important;
  }

  /* Thumb (thanh cuộn chính) */
  &::-webkit-scrollbar-thumb {
    background: #eee !important;
    border-radius: 100px !important;
  }

  /* Thumb khi hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ccc !important;
  }
}
