@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.phonetic {
  display: flex;
  align-items: center;

  &__word {
    font-size: 48px;
    line-height: 48px;
    font-family: $font;
    font-weight: 800;
    width: max-content;
  }
  &__icon {
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: auto;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  &__type {
    font-size: 20px;
    font-family: $font;
    font-weight: 500;
  }
}
.wrappered {
  width: 100%;
  align-items: flex-start !important;
  justify-content: space-between;
  border-radius: 16px;
  padding: 32px;
  font-family: $font;
}
.phonetic__content {
  font-size: 20px;
  line-height: 28px;
  font-family: $font;
  color: #6b7280;
}
.language__flag {
  padding: 0 !important;
  margin: 0 !important;
}

