@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.wrap {
  &-main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }
  &-head {
    height: 340px;
    justify-content: center;
    align-items: center;
  }
  &-bottom {
    background-color: #eee;
    border-radius: 32px;
    padding: 32px 200px;
  }
}
.leitner-start {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #eee;
  border: none;
  align-items: center;
  justify-content: center;
  color: #212529;
  font-family: $font;
  margin-right: 64px;
  cursor: pointer;
  &_btn {
    width: 176px;
    height: 176px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 8px solid #efb452;
    font-size: 24px;
    color: $text-primary-color;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.leitner-options {
  //   margin-top: 32px;
  &_btn {
    font-size: 24px;
    background-color: #eee;
    padding: 16px;
    border-radius: 16px;
    color: #6c757d;
    font-weight: 800;
  }
  &_title {
    color: #6c757d;
    font-family: $font;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
  }
  &_content {
    color: #0b043e;
    display: inline;
    font-family: $font;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
}
.leitner {
  &_title {
    color: #0b043d;
    font-family: $font;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    padding: 16px 0px;
  }
}
.box-option {
  align-items: center;
  background-color: #ffffff;
  color: #212529;
  line-height: 24px;
  text-align: left;
  width: 328px;
  align-items: flex-start;
  padding: 16px;
  border-radius: 16px;
  &_title {
    color: #6c757d;
    display: inline;
    font-family: $font;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
  }
  &_count {
    color: #6c757d;
    display: inline;
    font-family: $font;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    flex-direction: row;
    font-weight: 500;
    &--num {
      font-weight: 800;
    }
  }
}
