.category {
  margin: 0px 16px;
  cursor: pointer;
  &__image {
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__name {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
