@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.wldetail-wrap {
  justify-content: center;
  align-items: center;
  font-family: $font;
  padding: 0px 64px;
  width: 100%;
}
.wldetail__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 32px;
  border-bottom: 2px solid #ccc;
  &-title {
    color: #0e336b;
    font-size: 44.8px;
    font-weight: 700;
    line-height: 67.2px;
    text-transform: capitalize;
  }
  &-infor {
    color: #6a778d;
    font-size: 15.2px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    // text-align: left;
  }
  &-btn {
    border: #0e336b 2px solid;
    padding: 4px 8px;
    border-radius: 16px;
    color: #0e336b;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;
    &:hover {
      background-color: #0b043d;
      color: #fff;
    }
  }
}
.wldetail__card {
  width: 520px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 16px 32px;
  border-radius: 32px;
  font-family: $font;
  &-addLeitner {
    color: #212529;
    font-family: $font;
    font-size: 8.8px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  &-iconAdd {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    width: 42px;
    height: 42px;
    padding: 16px;
    background-color: #a9a9a9;
    border-radius: 50%;
    margin: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  &-title {
    color: #212529;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    padding: 16px 0px;
    text-transform: capitalize;
  }
  &-iconLearn {
    border: 2px solid $text-primary-color;
    padding: 8px 48px;
    border-radius: 16px;
    text-transform: uppercase;
    color: $text-primary-color;
    font-weight: 600;
    &:hover {
      cursor: pointer;
      background-color: $text-primary-color;
      color: #fff;
    }
  }
}
.col-css {
}
.row-css {
  display: flex;
  justify-content: center;
}
