@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.AddNewSub_btn {
  justify-content: center;
  &__icon {
    font-size: 16px;
    margin-left: 16px;
  }
  &__content {
    padding: 16px 0px;
    font-weight: 400;
  }
  &:hover &__icon {
    color: #6248b1 !important;
    animation: spin backwards 1s;
    cursor: pointer;
  }
  &:hover &__content {
    cursor: pointer;
    color: #6248b1 !important;
  }
}
