@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.subcategory {
  width: 100%;
  font-family: $font;
  border-radius: 8px;
  padding: 12px;
  &__back {
    width: 100%;
    background-color: #e0e7f2;
    padding: 16px;
    border-radius: 16px;
  }
  &__study {
    font-family: $font;
    background-color: #0b043d;
    color: #fff;
    font-weight: 600;
    padding: 24px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid #0b043d !important;

    &:hover {
      color: #fff !important;
    }
    &:hover {
      box-shadow: rgb(209, 202, 232) 0px 1px 4px,
        rgb(209, 202, 232) 0px 0px 0px 3px;
    }
  }
  &__options {
    &__btn {
      &--search {
        background-color: #1e40af;
        color: #fff;
        border: 1px solid #1e40af !important;
        &:hover {
          border: 1px solid #1e40af !important;
          color: #fff !important;
        }
      }
      &--delete {
        background-color: #dc3545;
        color: #fff;
        &:hover {
          border: 1px solid #dc3545 !important;
          color: #fff !important;
        }
      }
    }
  }
}
.tab {
  font-family: $font;

  &__options {
    cursor: pointer;
    width: 220px;
    padding: 16px 0px;
    font-weight: 600;
  }
}
.vocabLoading-css {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowSub {
  width: 100%;
}
.search__vocab {
  border: 1px solid #6248b1;
  width: 200px;
  font-size: 16px;
  box-shadow: none;
  &:hover {
    box-shadow: rgb(209, 202, 232) 0px 1px 4px,
      rgb(209, 202, 232) 0px 0px 4px 3px;
    border: 1px solid #6248b1 !important;
  }
}
