@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";
.subcategory {
  width: 100%;
  font-family: $font;
  background-color: #e0e7f2;
  border-radius: 8px;
  padding: 12px;
}
