@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.subcategory-item {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #ddd;
  justify-content: space-between;
  margin-top: 8px;
}
.subcategory {
  &__header {
    width: 100%;
    // justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &_add {
    justify-content: flex-start;
    &:hover &__icon {
      color: #6248b1 !important;
      animation: spin backwards 1s;
      cursor: pointer;
    }
    &:hover {
      cursor: pointer;
      color: #6248b1 !important;
    }
  }
  &__content {
    text-wrap: wrap;
  }
  &__body {
    width: 100% !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.vocabulary {
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    color: $text-secondary-color;
    font-weight: 600;
    font-size: 20px;
  }
  &__phonetic {
    font-weight: 500;
    color: #808080;
    font-size: 16px;
  }
  &__pos {
    font-weight: 600;
    color: $text-sub-color;
    font-size: 18px;
  }
}
.checkbox__del {
  margin-right: 8px;
}
.delete-btn {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}
