@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.subitem {
  width: 156px;
  font-family: $font;
  height: 156px;
  // margin: 24px 12px;
  background-color: #fff;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #ddd;
  &__pos {
    font-family: $font;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 16px;
    font-weight: 600;
  }
  &__content {
    justify-content: center;
    align-items: center;
    &__word {
      font-weight: 800;
      color: $text-secondary-color;
      text-align: center;
    }
    &__phonetic {
      color: #6c757d;
      font-family: $font;
    }
  }
  &__add {
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-size: 56px;
    font-weight: 800;
    background-color: #eee;
    color: #fff;
  }
}
.pos__color {
  &--verb {
    color: #036d2a;
  }
  &--adj {
    color: #ffa2e8;
  }
  &--noun {
    color: #e67e22;
  }
}
.subitem__btn {
  cursor: pointer;
  &__delete {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    &:hover {
      width: 48px;
      height: 48px;
      background-color: #f0f0f0;
      border-radius: 16px;
    }
  }
  &__select {
    font-size: 11px;
  }
}
