.ant-table-column-sorters:not(.ant-table-column-sorters-full) .active {
  border: none !important;
}

.ant-form-item.css-dev-only-do-not-override-amq5gd {
  margin: 0;
}

.subcategoryRow p {
  margin: 0;
}

.function-box {
  .ant-space-item {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.25s;
    &:hover {
      background-color: #e7e7e7;
    }
  }
}
