@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.search__sub {
  width: 400px;
  font-family: $font !important;
  font-size: 20px;
  line-height: 28px;
  border: 4px solid #6248b1;
  border-radius: 16px;
  box-shadow: rgb(209, 202, 232) 0px 1px 4px, rgb(209, 202, 232) 0px 0px 4px 3px;
  line-height: 24px;
  &:hover {
    background-color: transparent;
    border: 4px solid #6248b1 !important;
    box-shadow: rgb(209, 202, 232) 0px 1px 4px,
      rgb(209, 202, 232) 0px 0px 0px 3px;
  }
  &:focus {
    background-color: transparent;
    box-shadow: rgb(209, 202, 232) 0px 1px 4px,
      rgb(209, 202, 232) 0px 0px 0px 3px;
  }
}
.sub_content {
  margin-top: 8px;
  height: 320px;
  overflow-y: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track (phần nền của thanh cuộn) */
  &::-webkit-scrollbar-track {
    background: #fff !important;
  }

  /* Thumb (thanh cuộn chính) */
  &::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 100px;
  }

  /* Thumb khi hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}

.mainSubcategory {
  font-family: $font !important;
  margin-top: 16px;
  height: 400px;
  width: 100%;
  flex-direction: column;
}
.wordWrap {
  width: 460px;
  border-bottom: 1px solid #eee;
  padding: 16px 8px;
  margin: 0 !important;
  cursor: pointer;
  &:hover {
    background-color: #f5f7fa;
  }
}
.word {
  font-family: $font;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
  &__content {
    font-size: 18px;
    font-weight: 700;
    color: $text-secondary-color;
  }
  &__pos {
    font-weight: 600;
  }
}
