@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";
.flash-card {
  justify-content: space-between;
  align-items: center;
  width: 482px;
  height: 582px;
  padding: 32px;
  &__options {
    &--item {
      font-family: $font;
      font-size: 16px;
      width: 100%;
      padding: 20px 16px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: -32px;
      position: relative;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
    }
    &--icon {
      position: absolute;
      margin: -20px auto 0px auto;
      top: 0;
      left: 0;
      right: 0;
      font-size: 40px;
      background-color: #fff;
    }
    &--back {
      color: #fff;
      height: 32px;
      width: 64px;
      padding: 4px;
      font-size: 20px;
      position: absolute;
      left: -32px;
      bottom: 96px;
      background-color: #13c2c2;
      border-radius: 16px;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.5s linear;
      &:hover {
        background-color: #0fa2a2;
      }
    }
  }
  &__definition {
    text-align: center;
    font-weight: 500;
    color: #495057;
    font-size: 20px;
    margin-top: 16px;
  }
  &__know {
    border-top: 2px solid #3f9243;
    color: #3f9243;
    border-left: 1px solid #eee;
    &--icon {
      color: #3f9243;
      border-radius: 50%;
    }
    &--choiced {
      background-color: #3f9243;
      color: #fff;
    }
  }
  &__unknown {
    border-top: 2px solid #dc2929;
    border-right: 1px solid #eee;
    color: #dc2929;

    &--icon {
      border-radius: 50%;
      color: #dc2929;
    }
    &--choiced {
      background-color: #dc2929;
      color: #fff;
    }
  }
  &__example {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 482px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    // background-color: #3f9243;
    height: 128px;
    margin-bottom: -48px;
  }
}
