@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";

.review-card {
  justify-content: space-between;
  align-items: center;
  height: 582px;
  padding: 32px 0px;
  &__body {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    flex: 1;
    z-index: 100;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin-top: 32px;
    content: "";
  }
  &__title {
    color: $text-secondary-color;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    &--example {
      font-size: 32px;
    }
  }
  &__def {
    font-size: 17px;
    font-weight: 500;
  }
  &__sound {
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    border: 8px solid #00bfa5;
    border-radius: 50%;
    background-color: #fff;
  }
  &__phonetic {
    font-size: 18px;
    font-weight: 500;
    color: #6c757d;
  }
  &__pos {
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 8px;
  }
  &__example {
    margin-top: 32px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 400px;
    text-align: center;
    justify-content: center;
    width: 482px;
    height: 128px;
    margin-bottom: -128px;
    cursor: pointer;
    &--item {
      font-family: $font;
      color: $text-grey-color !important;
      font-size: 18px;
      font-weight: 600;
      padding: 0px 16px;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 767px) {
  /* Mobile-specific styles */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-specific styles */
}

@media only screen and (min-width: 1024px) {
  /* Desktop-specific styles */
}
