@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";

.wrap-card {
  display: flex;
  font-family: $font;
  width: 482px;
  height: max-content;
  margin-bottom: 40px;
  border: 1px solid;
  border-color: rgba(132, 154, 219, 0.631) !important;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: scale 0.07s linear;
  position: relative;
  &__wave {
    &--top {
      position: fixed;
      top: 0;
      z-index: -1;
    }
    &--bottom {
      position: fixed;
      bottom: 0;
      z-index: -1;
    }
  }
}
