@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";

.wrap-card {
  font-family: $font;
  width: 482px;
  height: 600px;
  margin-bottom: 40px;
  border: 1px solid;
  border-color: rgba(132, 154, 219, 0.631) !important;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: scale 0.07s linear;
}
