@import "../../../assets/scss/font.scss";
@import "../../../assets/scss/variable.scss";

.wrap-card {
  display: flex;
  font-family: $font;
  width: 482px;
  height: max-content;
  margin-bottom: 40px;
  border: 1px solid;
  border-color: rgba(132, 154, 219, 0.631) !important;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: scale 0.5s linear;
  position: relative;
  &__wave {
    width: max-content;
    &--top {
      position: fixed;
      top: 0;
      z-index: -1;
    }
    &--bottom {
      position: fixed;
      bottom: 0;
      z-index: -1;
    }
  }
}
@media only screen and (max-width: 767px) {
  /* Mobile-specific styles */
  .wrap-card {
    width: 100%;
    &__wave {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablet-specific styles */
}

@media only screen and (min-width: 1024px) {
  /* Desktop-specific styles */
}
